.arrowclass{
    display: none!important;
}

.control-class{
   
   font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 4px;
    border-color: #1948b3;
    color: #1948b3;
}
.menu-class{
    width: 100px;
    margin-top: 0.5rem;
}
.sd-root-modern{
    background-color: #fff !important;
}